@media (min-width: 48rem){

    body {
        margin: 13.3rem 11.4rem;
    }

    .header h1 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.2rem;
        letter-spacing: 0;
    }



    .main-container {
        width: 54rem;

        gap: 2.4rem;
    }

    .password-section{
        padding: 1.6rem 3.2rem;
    }

    .password-section__password{
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4.2rem;
        letter-spacing: 0;
    }

    .password-section__copy-container {
        gap: 1.6rem;
    }

    .character-section{
        padding: 2.4rem 2.4rem 4.1rem 2.4rem;
    }

    .character-section__options__length {
        gap: 2.6rem;
        margin-bottom: 1.2rem;
    }

    .character-section__options__length__result__text{
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.4rem;
        letter-spacing: 0;
    }

    .character-section__options__length__result__lenght-number{
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4.2rem;
        letter-spacing: 0;
    }


    .strength-section{
        gap: 3.2rem;
    }

    .strength-section__status-section__strength-text{
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.4rem;
        letter-spacing: 0;
    }

    .generate-button{
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.4rem;
        letter-spacing: 0;
    }


}


