:root {
    --background-gradient-1: #14131B;
    --background-gradient-2: #08070B;

    --title: #817D92;

    --main-container: #24232C;

    --password-inactive: #54535B;
    --password-active: #E6E5EA;
    --password-copy-icon: #A4FFAF;
    --password-copy-icon-active: #FFFFFF;
    --password-copy-confirmation: #A4FFAF;

    --main-text: #E6E5EA;

    --character-length-text: #E6E5EA;
    --character-bar-number: #A4FFAF;

    --character-bar-circle-inactive: #E6E5EA;
    --character-bar-circle-active: #18171F;
    --character-bar-circle-active-border: #A4FFAF;

    --character-bar-line-primary: #A4FFAF;
    --character-bar-line-secondary: #18171F;

    --character-options-checkbox: #A4FFAF;
    --character-options-text: #E6E5EA;

    --strenght-container: #18171F;
    --strenght-container-text: #817D92;

    --password-strenght-text: #E6E5EA;

    --generate-button: #A4FFAF;
    --generate-button-text: #24232C;
    --generate-button-active: #24232C;
    --generate-button-active-border: #A4FFAF;
    --generate-button-active-text: #A4FFAF;
    --generate-button-active-svg: #A4FFAF;

    --too-weak: #F64A4A;
    --weak: #FB7C58;
    --medium: #F8CD65;
    --strong: #A4FFAF
}




.text-preset-1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.2rem;
    letter-spacing: 0;
}

.text-preset-2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0;
}

.text-preset-3 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0;
}

.text-preset-4 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0;
}



body {
    background-image: linear-gradient(to right, var(--background-gradient-1), var(--background-gradient-2));

    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--main-text);

    margin: 6.4rem 1.6rem;
}

.main-container {
    display: flex;
    flex-direction: column;

    gap: 1.6rem;

    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--title);
}

.password-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--main-container);

    padding: 1.6rem;

}

.password-section__password {
    overflow: hidden;
}

.password-section__password--inactive {
    color: var(--password-inactive);
}

.password-section__password--active {
    color: var(--password-active);

}

.password-section__copy-container {
    display: flex;
    align-items: center;

    color: var(--password-copy-confirmation);

    gap: 0.8rem;
}

.password-section__copy-container__copy-icon {
    cursor: pointer;
}

.password-section__copy-container__copy-icon:hover path {
    fill: var(--password-copy-icon-active);
}


.character-section {
    display: flex;
    flex-direction: column;

    background-color: var(--main-container);

    padding: 1.6rem;
}

.character-section__options {
    display: flex;
    flex-direction: column;

    gap: 3.2rem;
}

.character-section__options__length {
    display: flex;
    flex-direction: column;

    gap: 1.6rem;
}

.character-section__options__length__result {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.character-section__options__length__result__lenght-number {
    color: var(--character-bar-number);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.8rem;
    border-radius: 4px;

    --fill-percent: 0%;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 0.8rem;
    border-radius: 4px;
    background: linear-gradient(
        to right,
        var(--character-bar-line-primary) var(--fill-percent),
        var(--character-bar-line-secondary) var(--fill-percent)
    );
}



input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-color: var(--character-bar-circle-inactive);
    margin-top: -1rem;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: var(--character-bar-line-secondary);
    border: 0.2rem solid var(--character-bar-circle-active-border);
}




.character-section__options__diverse {
    display: flex;
    flex-direction: column;

    gap: 1.8rem;
}

.character-section__options__diverse__checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character-section__options__diverse__checkbox input {
    display: none;
}

.character-section__options__diverse__checkbox label {
    display: flex;
    gap: 1.6rem;

}

.character-section__options__diverse__checkbox__svg-container {
    display: flex;
    align-items: center;
    justify-content: center;

    border: white solid 0.2rem;
    width: 2rem;
    height: 2rem;
}

.character-section__options__diverse__checkbox label:hover div {
    border: var(--character-options-checkbox) solid 0.2rem;
    cursor: pointer;
}

.character-section__options__diverse__checkbox--checked {
    border: var(--character-options-checkbox) solid 0.2rem;
    background-color: var(--character-options-checkbox);
}

.strength-section {
    display: flex;
    flex-direction: column;

    gap: 1.6rem;
}

.strength-section__status-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--strenght-container);
    color: var(--strenght-container-text);

    padding: 1.4rem 1.65rem;
}

.strength-section__status-section__status-text {
    color: var(--main-text);
}

.strength-section__status-section__status-container {
    display: flex;
    align-items: center;
    gap: 1.6rem;

}

.strength-section__status-section__status-container__box {
    display: flex;
    gap: 0.8rem;
}

.strength-section__status-section__status-container__box__status {
    width: 1rem;
    height: 2.8rem;
    border: solid 0.2rem white;
    transition: ease-in-out 0.3s;
}

.generate-button {
    height: 5.6rem;
    background-color: var(--generate-button);
    color: var(--generate-button-text);
    cursor: pointer;
    border: none;
}

.generate-button svg {
    margin-left: 1.6rem;
}

.generate-button:hover {
    background-color: var(--generate-button-text);
    border: solid 0.2rem var(--generate-button-active-border);
    color: var(--generate-button-active-text);
}

.generate-button:hover svg path {
    fill: var(--generate-button-active-svg);
}

.generate-button:active {
    background-color: var(--generate-button-text);
    border: solid 0.2rem var(--generate-button-active-border);
    color: var(--generate-button-active-text);
}

.generate-button:active svg path {
    fill: var(--generate-button-active-svg);
}

.too-weak {
    background-color: var(--too-weak);
    border-color: var(--too-weak);
}

.weak {
    background-color: var(--weak);
    border-color: var(--weak);
}

.medium {
    background-color: var(--medium);
    border-color: var(--medium);
}

.strong {
    background-color: var(--strong);
    border-color: var(--strong);
}

.hidden {
    display: none;
}