:root {
    --background-gradient-1: #14131B;
    --background-gradient-2: #08070B;

    --title: #817D92;

    --main-container: #24232C;

    --password-inactive: #54535B;
    --password-active: #E6E5EA;
    --password-copy-icon: #A4FFAF;
    --password-copy-icon-active: #FFFFFF;
    --password-copy-confirmation: #A4FFAF;

    --main-text: #E6E5EA;

    --character-length-text: #E6E5EA;
    --character-bar-number: #A4FFAF;

    --character-bar-circle-inactive: #E6E5EA;
    --character-bar-circle-active: #18171F;
    --character-bar-circle-active-border: #A4FFAF;

    --character-bar-line-primary: #A4FFAF;
    --character-bar-line-secondary: #18171F;

    --character-options-checkbox: #A4FFAF;
    --character-options-text: #E6E5EA;

    --strenght-container: #18171F;
    --strenght-container-text: #817D92;
    
    --password-strenght-text: #E6E5EA;

    --generate-button: #A4FFAF;
    --generate-button-text: #24232C;
}




.text-preset-1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.2rem;
    letter-spacing: 0;
}

.text-preset-2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0;
}

.text-preset-3 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0;
}

.text-preset-4 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0;
}

